/* COLOR SCHEME https://www.color-hex.com/color/8844bb */


/* # GENERAL ************************************************************************************************* */

@charset "UFT-8";

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/* # TYPOGRAPHY ********************************************************************************************** */

/* 
- base size: min 17px, max 24px
- modular scale: 1.2 small screen, 1.5 large screen
*/

html {
    font-family: 'Sarabun', sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-align: left;
    padding-right: 1vw;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    color: #8844bb;
    font-size: 24.48px; /* 17 * (1.2^2) */
    margin-bottom: 0.5em;
}

h2, .larger {
    color: #6c3695;
    font-size: 20.4px; /* 17 * 1.2 */
}

h3 {
    font-size: 1rem;
    color: #512870;
}

p {
    font-size: 1rem;
    color: #311845;
}

.lighter {
    opacity: 0.8;
}

.italic {
    font-style: italic;
}


/* # NAVIGATION BAR ****************************************************************************************** */

nav {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #8844bb;
    height: 100%;
    position: fixed;
    width: 130px;
    top: 0;
    left: 0;  
    font-size: 15px;
    letter-spacing: 1.5px;
}

nav > div {
    width: 105%;
}

nav a {
    color: white;
    display: block;
}

.smaller:hover {
    color: #8844bb;
    background-color: white;
}

.active {
    color: #8844bb;
    background-color: white;
}

.home-logo {
    padding: 15px 15px 2px;
}

nav img {
    width: 100px;
    height: 100px;
}

.home-name { /* MAYBE: integrate with logo */
    font-family: 'Roboto Mono', monospace;
    padding: 5px 15px 30px;
}

.home-name-first, .home-name-middle{
    font-size: 24px;
    letter-spacing: 0.19em;
    line-height: 1.4em;
    text-transform: uppercase;
}

.home-name-last {
    font-size: 15px;
    letter-spacing: 0.49em;
    text-transform: lowercase;
}

.creations, .personal {
    line-height: 40px;
    padding: 15px 0;
}

.smaller {
    padding-left: 15px;
    padding-right: 15px;
}


/* # MAIN **************************************************************************************************** */

main {
    margin-left: 130px;
    margin-bottom: 30px;
    width: calc(98vw - 130px);
    padding: 15px;
}

.intro {
    width: 100%;
}

.hello {
    padding: 0;
}

.passions {
    padding: 0 0 1em;
}

.passion {
    padding: 0.25em 0;
}


/* # CREATION GRID ******************************************************************************************* */

.creation-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 30px;
}

.creation {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    min-width: 80px;
    max-width: 290px;
}

.thumbnail {
    width: 100%;
    margin-top: 15px;
}

.caption {
    margin: 10px 0px;
    font-size: 15px;
    letter-spacing: 1.5px;
    margin-bottom: 45px;
}

/* # SKILL FLEX ********************************************************************************************** */

.skill-flex {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-items: flex-start;
    width: calc(98vw - 130px);
}

.skill-type {
    color: #622B8D;
    font-weight: 900;
    grid-column: 1;
    justify-self: flex-start;
    width: 100%;
    padding: 30px 0 10px;
}

.skill-item-flex {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px 30px 5px 0;
}

.skill-name {
    width: 18rem;
}

.skill-level {
    height: 1rem;
}


/* # MEDIA QUERIES ******************************************************************************************* */
.about h2 {
    padding-bottom: 1em;
}

.about p {
    padding-bottom: 1.5em;
}

.biography h2 {
    padding-bottom: 1em;
    padding-top: 2em;
}

.biography p {
    padding-bottom: 1.5em;
}

/* # MEDIA QUERIES ******************************************************************************************* */

@media only screen and (min-width: 600px) and (max-width: 1000px){

    html {
        font-size: calc(17px + (25 - 17) * (100vw - 600px) / (1000 - 600));
    }
    
    h1 {
        font-size: calc(24.48px + (58.5 - 24.48) * (100vw - 600px) / (1000 - 600));
    }
    
    h2, .larger {
        font-size: calc(20.4px + (39 - 20.4) * (100vw - 600px) / (1000 - 600));
    }

    main {
        padding: calc(15px + (30 - 15) * (100vw - 600px) / (1000 - 600));
    }

}

@media only screen and (min-width: 1000px) {

    html {
        font-size: 25px;
    }
    
    h1 {
        font-size: 58.5px; /* 22 * (1.5^2) */
    }
    
    h2, .larger {
        font-size: 39px; /* 22 * 1.5 */
    }

    main {
        padding: 30px;
    }

}

