/* COLOR SCHEME https://www.color-hex.com/color/8844bb */

/* # GENERAL ************************************************************************************************* */

@charset "UFT-8";

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* # TYPOGRAPHY ********************************************************************************************** */

/* 
- base size: min 17px, max 24px
- modular scale: 1.2 small screen, 1.5 large screen
*/

html {
    font-family: 'Sarabun', sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-align: left;
    padding-right: 1vw;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    color: #8844bb;
    font-size: 24.48px; /* 17 * (1.2^2) */
}

h2, .larger {
    color: #6c3695;
    font-size: 20.4px; /* 17 * 1.2 */
}

h3 {
    color: #512870;
}

p {
    color: #311845;
}

.lighter {
    opacity: 0.8;
}

.italic {
    font-style: italic;
}

/* # NAVIGATION BAR ****************************************************************************************** */

nav {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #8844bb;
    height: 100%;
    position: fixed;
    width: 115px;
}

nav a {
    color: white;
    display: block;
    font-size: 14px;
}

.nav {
    padding: 10px;
}

.home-logo {
    padding-bottom: 0;
}

nav img {
    width: 100%;
}

.home-name { /* MAYBE: integrate with logo */
    font-family: 'Roboto Mono', monospace;
    padding-top: 0.5vw;
}

.home-name-first {
    font-size: 25px;
    letter-spacing: 0.2em;
    line-height: 1.4em;
    text-transform: uppercase;
}

.home-name-last {
    font-size: 16px;
    letter-spacing: 0.45em;
    text-transform: lowercase;
}

.creations, .personal, .social {
    letter-spacing: 0.05em;
    line-height: 5vh; /* TODO: refine */
}

/* # MAIN **************************************************************************************************** */

main {
    margin-left: 120px;
    padding: 3.33vw;
}

.hello {
    padding: 0;
}

.passions {
    padding: 1em 0 2em;
}

.passion {
    padding: 0.25em 0;
}

/* # CREATION GRID ******************************************************************************************* */

.grid {
    align-items: start;
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    grid-template-columns: 60vw;
    grid-template-rows: auto;
    justify-items: center;
}

  .subgrid {
    display: grid;
    align-items: start;
    grid-row-gap: 2vw;
    grid-template-columns: 60vw;
    grid-template-rows: 60vw 4em;
    justify-items: center
  }

  .thumbnail {
    align-self: stretch;
    grid-row:1;
    grid-column:1;
    justify-self: stretch;
  }
  
  .caption {
    align-self: start;
    justify-self: start;
    grid-row: 2;
    grid-column: 1;
    line-height: 1.2em;
  }

  @media only screen and (min-width: 600px) and (max-width: 1000px){

    /* # TYPOGRAPHY ********************************************************************** */

    html {
        font-size: calc(17px + (22 - 17) * (100vw - 600px) / (1000 - 600));
    }
    
    h1 {
        font-size: calc(24.48px + (49.5 - 24.48) * (100vw - 600px) / (1000 - 600));
    }
    
    h2, .larger {
        font-size: calc(20.4px + (33 - 20.4) * (100vw - 600px) / (1000 - 600));
    }

    /* # CREATION GRID ******************************************************************* */

    .grid {
        grid-template-columns: 36vw 36vw;
        grid-template-rows: auto;
    }

    .subgrid {
        grid-template-columns: 36vw;
        grid-template-rows: 36vw 4em;
    }


  }

  @media only screen and (min-width: 1000px) {

    /* # TYPOGRAPHY ********************************************************************** */

    html {
        font-size: 22px;
    }
    
    h1 {
        font-size: 49.5px; /* 24 * (1.5^2) */
    }
    
    h2, .larger {
        font-size: 33px; /* 24 * 1.7 */
    }

    /* # CREATION GRID ******************************************************************* */

    .grid {
        grid-template-columns: 25.5vw 25.5vw 25.5vw;
        grid-template-rows: auto;
    }

    .subgrid {
        grid-template-columns: 25.5vw;
        grid-template-rows: 25.5vw 4em;
    }

  }